.footer {
  background-color: var(--footer);
  /* padding: 10px 25% 100px; */
  /* margin-top: var(-(--footer-height)); */
  padding-left: 30%;
  padding-right: 30%;
  height: var(--footer-height);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer ul,
.footer .flex {
  list-style: none;
  justify-content: flex-start;
}

a {
  text-decoration: none;
  color: white;
  font-size: 10pt;
}

.footer-margin {
  padding-bottom: 150px !important;
}

@media only screen and (max-width: 1000px) {
  .footer {
    padding-left: 10%;
    padding-right: 10%;
  }
}
