:root{
    --header: #f3f4f7;
    --header-border: #d4d9e3;
    --orange: #ed8c00;
    --white: rgb(255, 255, 255);
    --dark-blue: #001a73;
    --btn-hover: #66728a;
    --footer: #66728a;
    --field-height: 35px;
    --radius: 5px;
    --margin-t: 20px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

body {
    height: 100vh;
    font-family: 'Lato', sans-serif;
}

img {
    display:block;
    margin-right: 10px;
}

nav {
    height: 11vh;
    color: var(--orange);
}

#nav-lang {
    background-color: var(--header);
    min-height: 30px;
    border-bottom: 1px solid var(--header-border);
    font-size: 10pt;
}

#nav-header {
    min-height: 70px;
    border-bottom: 1px solid var(--header-border);

}

#nav-header img {
    max-height: 40px;
}

.container {
    padding: 0px 30%;
}



.container>div {
    max-height: 100%;
}

.header {
    max-height: 50%;
}

.r-margin {
    margin-right: 10px;
}

.t-margin {
    margin-top: var(--margin-t);
}

.b-margin {
    margin-bottom: 20px;
}
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.right {
    justify-content: flex-end;
}

 .spc-btw {
     justify-content: space-between;
 }

.column {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

@media only screen and (max-width: 1000px) {
    .container {
        padding: 0px 10%;
        display: block;
    }
    
}